{% extends "index.html" %}
{% block comments %}
    <div class="comments">
        <h1>Fun Message Board</h1>
        
        <form action="." method="POST">
            <p>Leave some random message for dj fart in the club</br>
            eg) questions, reviews, your darkest inner secret, what you ate for lunch etc</p>
            <textarea name="comment" style="width:300px; height:100px;" placeholder="Say anything, don't worry it will be public"></textarea>
            </br> 
            <input type="submit" value="Send">
        </form>
        <div id="commentDisplay">{{ comments_list | random }}</div>
    </div>
{% endblock %}

          <!--{% for c in comments_list %}
            <div class="row">
                {{ c }}
            </div>
          {% endfor %}-->