#tour-dates:after {
  content: "";
  display: table;
  clear: both;
}

.column{
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

.left, .right {
    width: 25%;
  }
  
.middle {
    width: 50%;
  }